<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/orcamento.css') }}">
    <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>
<body>
    <div class="dados-empresas">
        <div class="sua-empresa">
            <p id="preview-empresa">{{ nome_sua_empresa }}</p>
            <p id="preview-email">{{ email_sua_empresa }}</p>
            <p id="preview-site">{{ site_sua_empresa }}</p>
            <p id="telefone-empresa">Tel: {{ telefone_sua_empresa }}</p>
        </div>

        <div class="empresa-cliente">
            <div class="cliente-p">
                <p>Cliente:</p>
                <p id="preview-cliente">{{ nome_cliente }}</p>
            </div>
            <p id="telefone-cliente">Tel: {{ telefone_cliente }}</p>
            <p id="email-cliente">{{ email_cliente }}</p>
            <p id="data-hoje">Data: {{ data_hoje }}</p>
            {% if inserir_validade == "sim" %}
                <p id="validade">Validade: {{ data_validade }}</p>
            {% endif %}
        </div>
    </div>
    <div class="orcamento">
        <h1>Orçamento</h1>
        <table>
            <thead>
                <tr>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Valor Unitário</th>
                <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ nome_servico_item }}</td>
                    <td>{{ quantidade_item }}</td>
                    <td>{{ valor_unitario }}</td>
                    <td>{{ quantidade_item * valor_unitario }}</td> <!-- cuidado com esse calculo isso pode estar vindo como string e pode dar ruim precisa de conversão ou ja calcular no backend -->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="descricao-valores">
        <div class="descricao-valores-filho1">
            <h2>Descrição/Observações</h2>
            <p id="observacoes-adicionais">{{ observacoes_adicionais }}</p>
        </div>
        <div class="descricao-valores-filho2">
            <div class="descricao-valores-p">
                <p>Subtotal</p>
                <p>PRECISO CALCULAR ISSO NO BACKEND</p>
            </div>
            <div class="descricao-valores-p">
                <p>Desconto</p>
                <p>{{ valor_desconto }}</p>
            </div>
            <div class="descricao-valores-p">
                <p>Total</p>
                <p id="total-tudo">PRECISO CALCULAR ISSO NO BACKEND</p>
            </div>
        </div>
    </div>
    <div class="descricao-valores2">
        <div>
            <h2>Prazo de Entrega</h2>
            <p><span class="material-symbols-outlined">timer</span>{{ prazo_entrega }}</p>
        </div>
        <div>
            <h2>Condições de pagamento</h2>
            <p><span class="material-symbols-outlined">payment_arrow_down</span>{{ condicoes_pagamento }}</p>
        </div>
    </div>
    <footer>
        <p>© 2026 Orçamento Rápido</p>
    </footer>
</body>
</html>