body {
    background: radial-gradient(500px, rgb(179, 209, 255), white);
    display: flex;
    margin: 0;
    min-height: 100vh;
}

nav{
    position: sticky;
    top: 0;
    height: 100vh;
    left: 0;
    width: 10%;
    margin-right: 2%;
    background: linear-gradient(45deg, rgb(89, 158, 214), white);
}

main {
    /* margin-left: 12%; */
    width: 90%;
}

a{
    text-decoration: none;
    color: rgb(13, 73, 122);
}

li{
    margin-left: 12px;
}

#logo-sistema{
    width: 100%;
    height: 20%;
}

ul{
    list-style-type: none;
}


img{
    height: 100px;
    width: 100px;
}

.imagem-principal{
    display: inline-block;
    flex-direction: column;
}

#ul_navbar{
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    gap: 2%;
    height: 100%;
}

