<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orçamento Rápido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    
    <nav>
        <ul id="ul_navbar">
            <img id="logo-sistema" src="{{ url_for('static', filename='images/logo_app.png') }}" alt="Logo do sistema">
            <li><a href="criar-orcamento">Criar orçamento</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
    
    <main>
        <section class="secao_site" id="secao_beneficios">
            <div class="beneficio">
                <h3>⚡ Rápido</h3>
                <p>Crie orçamentos em menos de 30 segundos.</p>
            </div>
            
            <div class="beneficio">
                <h3>📄 Profissional</h3>
                <p>PDFs organizados e prontos para enviar.</p>
            </div>

            <div class="beneficio">
                <h3>📱 Simples</h3>
                <p>Funciona direto do celular ou computador.</p>
            </div>
        </section>
        <header>
            <div class="header-texto">
                <h3>Bem vindo(a) ao nosso sistema!</h3>
                <p>Do WhatsApp bagunçado ao orçamento elegante.</p>
                <p>Crie orçamentos profissionais em segundos. Gere PDFs organizados, rápidos e prontos para enviar aos seus clientes sem complicação.</p>
            </div>
            <div class="header-imagem">
                <img id="orcamento_imagem" src="{{ url_for('static', filename='images/orcamento_imagem.png') }}" alt="Exemplo de Orçamento">
                <img id="calculadora_caneta" src="{{ url_for('static', filename='images/calculadora_caneta.png') }}" alt="Calculadora e caneta">
            </div>
        </header>
        

        <div class="conteudo-main">
            
            <h2>Mas e como funciona?</h2>
            <section class="secao_site" id="secao_explicacao">

                <div class="card_passo">
                    <img id="preenchendo_form" src="{{ url_for('static', filename='images/preenchendo_form.png') }}" alt="Icone do card">
                    <h3>Preencha as informações</h3>
                    <p>Adicione os dados do cliente, serviço, valor e descrição.</p>
                </div>

                <div class="card_passo">
                    <img id="pdf_icone" src="{{ url_for('static', filename='images/icone_pdf.png') }}" alt="Icone do card">
                    <h3>Gere o PDF</h3>
                    <p>O sistema cria automaticamente um orçamento profissional.</p>
                </div>

                <div class="card_passo">
                    <img id="envio_icone" src="{{ url_for('static', filename='images/envio_icone.png') }}" alt="Icone do card">
                    <h3>Envie para o cliente</h3>
                    <p>Baixe o PDF pronto e envie pelo whatsapp ou email.</p>
                </div>

                
            </section>
            <footer>
                <p>© 2026 Orçamento Rápido</p>
            </footer>
        </div>
    </main>
</body>
</html>

<!-- Use <section> quando:
O bloco teria sentido com um título. -->