<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu sistema</title>
</head>
<body>

    <header>
        <h1>Meu sistema</h1>
        <img id="logo-sistema" src="{{ url_for('static', filename='images/logo_app.png') }}" alt="Logo do sistema">
        <p>Automatize seus agendamentos e reduza faltas de clientes.</p>
    </header>

    <main>
        <div>
            <h3>Bem vindo(a) ao nosso sistema!</h3>
            <p><strong>Transforme sua agenda em um sistema inteligente.</strong></p>
            <p>Nossa aplicação automatiza agendamentos, confirmações e lembretes de clientes em um só lugar, reduzindo faltas e economizando tempo no atendimento, simples, rápida e pensada para profissionais que querem focar no serviço — não na correria do WhatsApp.</p>
        </div>

        <div>
            <h4>Mas e como funciona?</h4>
            <p></p>
        </div>
    </main>
</body>
</html>